<div class="container">
  <h1>Restaurants</h1> <hr>


  <%= link_to new_restaurant_path(@restaurant) do %>
    <p class="btn btn-primary btn-sm"> New Restaurant </p>
  <% end %>

  <%= link_to chinese_restaurants_path do %>
    <p class="btn btn-primary btn-sm"> Chinese Restaurants</p>
  <% end %>

  <%= link_to italian_restaurants_path do %>
    <p class="btn btn-primary btn-sm"> Italian Restaurants</p>
  <% end %>

  <%= link_to japanese_restaurants_path do %>
    <p class="btn btn-primary btn-sm"> Japanese Restaurants</p>
  <% end %>

  <%= link_to french_restaurants_path do %>
    <p class="btn btn-primary btn-sm"> French Restaurants</p>
  <% end %>

  <%= link_to belgian_restaurants_path do %>
    <p class="btn btn-primary btn-sm"> Belgian Restaurants</p>
  <% end %>

<br> <br>

  <ul>
    <% @restaurants.each do |restaurant| %>
      <li style="list-style: none;">
        <p><strong>name</strong>: <%= link_to restaurant.name, restaurant_path(restaurant), class: 'text-decoration-none' %></p>
      </li>
    <% end %>
  </ul> <hr>

</div>
