

<div class="container">

  <h1>New Restaurant</h1>

  <%= simple_form_for @restaurant do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :name %>
  <%= f.input :address, placeholder: 'barao do bom retiro 2723' %>
  <%= f.input :phone_number, hint: 'Dont forget (++DDD)' %>
  <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"], selected: 'chinese' %>


  <%= f.button :submit, class: 'btn btn-primary btn-sm' %>
  <% end %>

</div>
