<div class="container mt-3">
  <h1><%= @restaurant.name %></h1>
    <p class="mt-3"> Address: <%= @restaurant.address %> </p>
    <p>phone_number: <%= @restaurant.phone_number %></p>
    <p>category: <%= @restaurant.category %></p>

  <h2>Reviews</h2>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <%= review.content %> - <%= review.rating %> ⭐
      </li> <br>
    <% end %>
  </ul>

  <%= link_to "Back", restaurants_path, class: 'btn btn-danger btn-sm mb-3' %>

  <%= link_to "New Review", new_restaurant_review_path(@restaurant), class: 'btn btn-success btn-sm mb-3' %>

  <%= link_to "Update", edit_restaurant_path(@restaurant), class: 'btn btn-success btn-sm mb-3' %>
</div>
