<div class="container mt-3">
  <h1><%= @restaurant.name %></h1>

    <p class="my-3">Is a famous restaurant where stays in <strong><%= @restaurant.address %> </strong>Street</p>
    <p>The main specialty of this restaurant is <strong><%= @restaurant.category %></strong></p>
    <p>Call them or send a message <strong><%= @restaurant.phone_number %></strong></p>


  <% if @restaurant.reviews.empty? %>
    <%= "You dont have Reviews yet" %>
  <% else %>
    <h2>Reviews:</h2>
    <ul>
      <% @restaurant.reviews.each do |review| %>
        <li>
          <%= review.content %> - <%= review.rating %> â­
        </li> <br>
      <% end %>
    </ul>
  <% end %>
  <br> <br>

  <%= link_to "Back", restaurants_path, class: 'btn btn-danger btn-sm mb-3' %>

  <%= link_to "New Review", new_restaurant_review_path(@restaurant), class: 'btn btn-success btn-sm mb-3' %>

  <%= link_to "Update", edit_restaurant_path(@restaurant), class: 'btn btn-success btn-sm mb-3' %>

  <%= link_to "Delete", restaurant_path(@restaurant), data: { turbo_method: :delete, turbo_confirm: "are you sure?" }, class: 'btn btn-danger btn-sm mb-3' %>

</div>
